        html {
            font-size: 14px;
            background-color: var(--bg-color);
            color: #000;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji sans-serif;
            -webkit-font-smoothing: antialiased;
            margin-left: 5%;
            margin-right: 5%;
            font-weight: 400;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 450;
        }
        
        h1 {
            font-size: 2.5rem;
            text-align: center;
            font-weight: 600;
        }
        
        h2 {
            font-size: 2rem;
            text-align: left;
            font-weight: 500;
        }
        
        #great {
            position: relative;
            margin: 0px;
            line-height: 3rem;
        }
        
        #red_rectangle {
            border: solid 3px;
            border-radius: 5px;
            border-color: #f44336;
            text-align: center;
            color: #f44336;
        }
        
        #blue_rectangle {
            border: solid 3px;
            border-radius: 5px;
            border-color: #3F51B5;
            text-align: center;
            color: #3F51B5;
        }
        
        #grey_rectangle {
            margin-top: 10px;
            border: solid 2px;
            border-radius: 5px;
            border-color: #afafaf;
            text-align: center;
            position: relative;
            font-weight: 350;
            font-size: 1.5rem;
            line-height: 3rem;
        }
        
        #new {
            display: inline;
            line-height-step: 15rem;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            word-wrap: break-word;
            font-size: 1.25rem;
        }
        
        td,
        th {
            padding: 0;
            text-align: center;
            word-wrap: break-word;
        }
        
        .pure-table {
            border-collapse: collapse;
            border-spacing: 0;
            empty-cells: show;
            border: 1px solid #cbcbcb;
        }
        
        .pure-table caption {
            color: #000;
            padding: 1em 0;
            text-align: center;
        }
        
        .pure-table td,
        .pure-table th {
            border-left: 1px solid #cbcbcb;
            border-width: 0 0 0 1px;
            font-size: inherit;
            margin: 0;
            overflow: visible;
            padding: .5em 1em;
            word-wrap: break-word;
        }
        
        .pure-table thead {
            background-color: #e0e0e0;
            color: #000;
            text-align: left;
            vertical-align: bottom;
            font-weight: 800;
        }
        
        .pure-table td {
            background-color: transparent;
        }
        
        .tob {
            color: #f44336;
            font-weight: 600;
        }
        
        .buddha {
            color: #3F51B5;
            font-weight: 600;
        }
        
        .event {
            font-weight: 600;
        }
        
        #tble {
            width: 100%;
        }
        
        @media (prefers-color-scheme: dark) {
            html {
                background-color: #000;
                color: #ffffff;
            }
            .pure-table {
                border: 1px solid #1d1d1d;
            }
            .pure-table caption {
                color: #fff;
            }
            .pure-table td,
            .pure-table th {
                border-left: 1px solid #1d1d1d;
            }
            .pure-table thead {
                background-color: #1d1d1d;
                color: #ffffff;
            }
            #red_rectangle {
                border-color: #ef5350;
                color: #ef5350;
            }
            #blue_rectangle {
                border-color: #5C6BC0;
                color: #5C6BC0;
            }
            .tob {
                color: #ef5350;
            }
            .buddha {
                color: #5C6BC0;
            }
        }